.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: rgb(55, 169, 155);
    border: 1px solid rgb(55, 169, 155);
    border-radius: 5px !important;
}
.header_button
{
	width: 150px;
	height: 30px;
	background-color: rgb(0, 128, 128);
	border-color: none;
	box-shadow: none;
	border:none;
	color: white;
}
