.ant-tabs-nav-scroll {
     overflow: hidden;
    white-space: nowrap;
     /* background-color: #E5E1D6; */
}

.ant-tabs-ink-bar {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 2px;
    background-color: rgb(34, 95, 86);;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.ant-tabs-nav .ant-tabs-tab-active {
    color: rgb(34, 95, 86)!important;
    background-color: #E5E1D6 !important;
}

.btn-editprofile{
width: 100%;
margin-top: 20px;
border-radius: 50px !important;
padding: 8px;
font-size: 16px;
background: linear-gradient(100deg, #344442, #2c544e);
color: white;
}
.fontClolor{
color: white;
font-size: 16px;
/* padding: 8px; */

}